.parent {
    height: 100vh;
}

.card-text {
  font-family: Sans-serif;
}

.d-inline-block {
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px;
}

.height {
  height: 27%;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 67%;
  justify-content: center;
}

.center {
  width: 100%;
  align-self: center;
}